html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 15px arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: white;
    background-color: #A32638;
    font: 15px arial, sans-serif;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #A32638;
    }
    
    li {
        float: left;
    }

    li.header {
        display: block;
        color: white;
        text-align: center;
        font-size: 25px;
        width: 150px;
        height: 50px;
        line-height: 50px;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        height: 48px;
        line-height: 50px;
        padding-left: 12px;
        padding-right: 12px;
        border-bottom: 2px solid #A32638;
    }
    
    li a:hover {
        background-color: rgb(141, 47, 61);
        text-decoration: none;
        cursor: pointer;
    }

    .selected {
        border-bottom: 2px solid #ffffff;
    }
}

.content {
    padding: 50px 0px 0px 0px;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
}

.flexvertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flexhorizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#Legend {
    height: 400px;
    width: 100%;
    flex-shrink: 0;
    background-color: green;
}

#Code {
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    order: -1;
}

#Preferences {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    background-color: lightgray;
    order: 1;
}

#CodeArea {
    width: 100%;
    height: 100%;
    resize: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
