// General Properties
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 15px arial, sans-serif;
    color: white;
}

// Header only Properties (For Menu Bar)
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: white;
    background-color: #A32638;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }
    
    .menuitem {
        display: flex;
        flex-direction: row;
        height: 48px;
        border-bottom: 2px solid #A32638;
        padding-left: 12px;
        padding-right: 12px;
    }

    .menuitem:hover {
        background-color: rgb(141, 47, 61);
        text-decoration: none;
        cursor: pointer;
    }

    div.header {
        display: block;
        color: white;
        text-align: center;
        font-size: 25px;
        width: 150px;
        height: 50px;
        line-height: 50px;
    }
    
    div {
        display: block;
        color: white;
        text-align: center;
        line-height: 50px;
    }
    
    div a:hover {
        background-color: rgb(141, 47, 61);
        text-decoration: none;
        cursor: pointer;
    }

    .selected {
        border-bottom: 2px solid #ffffff;
    }

    img {
        display: block;
        margin: auto;
        height: 30px;
    }
}

// Some Content Helpers
.content {
    padding: 50px 0px 0px 0px;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
}

.flexvertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flexhorizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flexlegend {
    justify-content: center;
}

// Different Areas
#Legend {
    height: 300px;
    width: 100%;
    flex-shrink: 0;
    background-color: #FFFFFF;
}

#ColorPicker {
    width: 280px;
}

#Preferences {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    background-color: #272822;
    order: 1;
}

#Code {
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    order: -1;
}

#CodeArea {
    width: 100%;
    height: 100%;
    resize: none;
}

// Classes for Styling of individual Elements
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.preferenceItem {
    padding: 10px;
}

.inputElement {
    width: calc(100% - 20px);
    height: 30px;
}

.inputElementSelect {
    width: calc(100%);
    height: 30px;
}

.legendItem {
    width: 200px;
    height: 50px;
    margin: 10px;
    line-height: 50px;
    text-align: center;
    color: black;
}

.reflex-size-aware {
    overflow: hidden;
}