// General Properties
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

// Header only Properties (For Menu Bar)
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #a32638;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menuitem {
    display: flex;
    flex-direction: row;
    height: calc(100% - 2px);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
  }

  .menuselect {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
  }

  .menuitem:hover {
    background-color: #1b80de;
    text-decoration: none;
    cursor: pointer;
  }

  div {
    display: block;
    color: white;
    text-align: center;
    line-height: 62px;
  }

  div a:hover {
    background-color: rgb(141, 47, 61);
    text-decoration: none;
    cursor: pointer;
  }

  .selected {
    border-bottom: 2px solid #ffffff;
  }

  img {
    display: block;
    margin: auto;
    height: 30px;
  }
}

.preferencesWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.innerPreferencesWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

// Some Content Helpers
.content {
  padding: 70px 0px 0px 0px;
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100%;
}

.codePaper {
  width: 100%;
  height: calc(100% - 8px);
}

#codeDiv {
  height: calc(100% - 48px);
}

.codeItem {
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  flex: 1 1 0%;
}

// Different Areas
#ColorPicker {
  padding: 10px;
}

// Grids for the Areas of the Application
.mainGrid {
  height: 100%;
}

.codeGrid {
  height: 100%;
  width: 400px;
}

.svgGrid {
  height: calc(100% - 300px);
  width: 100%;
}

.preferencesGrid {
  height: 100%;
  width: 300px;
}

.legendGrid {
  height: 300px;
  width: 100%;
}

// Classes for Styling of individual Elements
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.preferenceItem {
  padding-right: 10px;
}

.inputElement {
  width: calc(100%);
}

.formselect {
  margin-top: 16px;
  margin-bottom: 8px;
}

.paddedButton {
  padding-bottom: 8px;
  padding-right: 10px;
}

.legendItem {
  width: 200px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  text-align: center;
  color: black;
}

.reflex-size-aware {
  overflow: hidden;
}

.ace_scrollbar {
  display: none !important;
}

.ace_editor {
  background: rgba(0, 0, 0, 0) !important;
}

.ace_gutter {
  background: #f5f5f5 !important;
  z-index: auto !important;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba($color: black, $alpha: 0.3);
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2196f3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.updateButtonContainer {
  display: flex;
}

.dropzoneContainer {
  border: #f3f3f3;
  border-style: dashed;
  padding: 5px;
  border-radius: 4px;
}
