absl-py==0.8.1
appdirs==1.4.3
arandr==0.1.10
astor==0.8.0
attrs==19.3.0
bleach==3.1.0
btrfsutil==1.1.1
CacheControl==0.12.5
chardet==3.0.4
colorama==0.4.3
colour==0.1.5
decorator==4.4.1
distlib==0.3.0
distro==1.4.0
gast==0.2.2
grpcio==1.25.0
h5py==2.10.0
html5lib==1.0.1
i3pystatus==3.35
idna==2.8
importlib-metadata==0.23
isc==2.0
lensfun==0.3.2
lit==0.9.0.dev0
lockfile==0.12.2
louis==3.12.0
Markdown==3.1.1
more-itertools==7.2.0
msgpack==0.6.2
numpy==1.17.4
ordered-set==3.1.1
packaging==19.2
pep517==0.6.0
ply==3.11
progress==1.5
protobuf==3.10.1
py3status==3.22
pycairo==1.18.2
pycuda==2019.1.2
PyGObject==3.34.0
pyparsing==2.4.5
pytoml==0.1.21
pytools==2019.1.1
ranger-fm==1.9.2
requests==2.22.0
retrying==1.3.3
six==1.13.0
tensorboard==2.1.0
tensorflow==2.1.0rc0
tensorflow-serving-api==2.0.0
tensorflow-serving-api-gpu==2.0.0
termcolor==1.1.0
urllib3==1.25.7
virtualenv==16.1.0
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
