html, body {
  height: 100%; // Body and HTML full Size.
  margin: 0 !important; // No Margin, so no scrolling.
  padding: 0 !important; // No Padding, so no scrolling.
}

main {
  height: 100%; // Main full Size.
}

.mainContainer {
  height: 100%; // Main Container full Size.
}